html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
===========================================
Custom styles
===========================================
*/

body{
    background: #006475;
    color: #00D0F5;  
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}




 
/*
===========================================
Grid
===========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
        
.container,
.grid{
    margin: 0 auto;
    width: 81%;
} 

.container{
    padding-left: 1%;
    padding-right: 1%;
}
/*col-2-3 in register, speaker, venue*/
.grid,
.col-1-3,
.col-2-3{
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.col-1-3,
.col-2-3{
    display: inline-block;
    vertical-align:top;
  
}

.col-1-3 {
  width: 30%;
}

col-2-3 in register, speaker, venue
.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}




/*
===========================================
Rows
===========================================
*/
.row{
    min-width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.row{
 background-color: white;
 padding: 66px 0 44px 0x;
 
    
}

.row_web{
    min-width: 100%;
    padding-bottom: 5%;
}

.row_web{
    background-color: white;
    padding: 66px 0 260px 0;
}
/*
===========================================
Typography
===========================================
*/
h1 {
    color:red;
    font-size: 36px;
    line-height: 44px;
}
 h2{
    color:antiquewhite;
     font-size: 24px;
  line-height: 44px;
}
h3{
    color:#006475;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
}
 h4{
    color:aquamarine;
      font-size: 18px;
}
h5{
    color:chocolate;
    text-align: left;
    font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
    margin:25px 0 25px 26px;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}



/*h1, h2,h3, h4{
    color:#648880;*/
}


h1,h2, h4, h5, p{
    margin-bottom: 22px;
}

/*
  ========================================
  Leads
  ========================================
*/   
.lead {
  text-align: center;
 
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/
a{
    color: burlywood;
    text-decoration: none;    
}

a:hover{
    color: darksalmon;
}
p a{
    border-bottom: 150px solid #eeefff
}
.primary-header a,
.primary-footer a{
    color: #fff
}

.primary-header a:hover,
.primary-footer a:hover{
    color: #648880;
}
/*
  ========================================
  Primary header
  ========================================
*/
.logo{
  
   float: left;
    font-size: 48px;
    font-weight:100;
    font-style: oblique
    letter-spacing: .5px;
    line-height: 50px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}
.tagline{
    margin: 66px 0 44px 0;
    text-align: right;
}
.primary-nav{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
   
}

/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}
/*
  ========================================
  Navigation
  ========================================
*/
.nav{
    text-align: right;
    
    
}
.nav li{
    display: inline-block;
    margin: 0 10px;
    vertical-align:top;    
}

.nav li: last-child{
    margin-right: 0;
}







 /* ========================================
  Home
  ========================================
*/

.hero { 
  background-color: #006475;
  color: #aaffee;  
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 25px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

.teaser_neu img{
   border-radius: 10px;
  display: block;
  margin-bottom: 350px;
  margin-right: 22px;
  max-width: 50% ; 
  float:left;
}


/*
===========================================
img
===========================================
*/
img{
    width: 80%;
  margin-left: 1.4em
}

.art img{
    height: 50%;
    width: 50%;
}

.autor img{
    width: 25%;
}

.webdesign{
 
    width: 35%;
}
 
.vglogo{
    width: 20%;
}
   
}


